@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300;400;700;900&display=swap');
:root {
    /*Primary*/
--Gris-fuerte: hsl(60, 4%, 11%);
--Gris-medio: hsla(60, 4%, 11%, 0.906);
--Gris-claro: hsl(0, 0%, 90%);
--Call-to-action: hsl(215, 86%, 58%);
/*
font-family: 'Anton', sans-serif;
font-family: 'Roboto', sans-serif;
*/
}
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--Gris-medio);
    color: var(--Gris-claro);
}
h1 {
    font-family: 'Roboto', sans-serif; 
    font-size: 60px;
}
h2, h3, h4 {
    font-family: 'Roboto', sans-serif;  
}
p {
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
}
a, button {
    font-family: 'Anton', sans-serif;
    font-size: 15px;
}

/* Header */
header {
    background-color: var(--Gris-fuerte);
    display: flex;
    justify-content: space-around;
}
header ul {
    display: flex;
    list-style: none;
}
header ul li a {
    text-decoration: none;
    margin-left: 40px;
    color: var(--Gris-claro);
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 150px;
    height: auto;
    margin-top: 10px;
}
/* --- Galeria fotos --- */
.imagenChica {
    width: 350px;
    height: auto;
}
.imagenGrande {
    width: 250px;
    height: auto;
}
.galeria {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: 
    "topLeft topCenter topRight"
     "midLeft midCenter midRight"
     "bottomLeft bottomCenter bottomRight";
    margin: 30px;
}
.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9 {
    place-self: center;
}
.img1 {
    grid-area: topLeft;
}
.img2 {
    grid-area: topCenter;
}
.img3 {
    grid-area: topRight;
}
.img4 {
    grid-area: midLeft;
}
.img5 {
    grid-area: midCenter;
}
.img6 {
    grid-area: midRight;
}
.img7 {
    grid-area: bottomLeft;
}
.img8 {
    grid-area: bottomCenter;
}
.img9 {
    grid-area: bottomRight;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--Gris-fuerte);
    padding: 30px 0 40px 0;
}
.blockLeft {
    display: flex;
    align-items: center;
}
.blockLeft a {
    margin-right: 25px;
}
.blockLeft ul li{
    list-style: none;
    display: flex;
    margin-top: 25px;
}
.blockLeft ul li i {
    margin-right: 15px;
}
.blockLeft h4 {
    margin-right: 15px;
}
.blockLeft ul li p {
    width: 140px;
}

.blockCenter ul {
    list-style: none;
}
.blockCenter ul li {
    margin-top: 10px;
}
.blockCenter ul li a {
    color: var(--Gris-claro);
    text-decoration: none;
}

.blockRight {
    display: flex;
    align-items: center;
}
.blockRight a {
    color: var(--Gris-claro);
    margin-left: 20px;
}





/* =-=-=-=- MEDIA QUERIES =-=-=-=- */
@media (max-width: 780px) {
    /* ---- Header ---- */
    header ul li a {
        margin-left: 10px;
    }
    .logo {
        margin: 10px 0 0 20px;
    }
    /* --- Galeria fotos --- */
    .imagenChica {
        width: 250px;
    }
    .imagenGrande {
        width: 160px;
    }
    /* ---- Footer ---- */
    footer {
        flex-direction: column;
        align-items: center;
        padding: 30px 0 40px 0;
    }
    .blockLeft {
        flex-direction: column;
    }
    .blockLeft a {
        margin-bottom: 20px;
    }
    .blockLeft ul li p {
        width: 200px;
    }
    .blockCenter ul {
        list-style: none;
        margin: 25px 0 25px 0;
        text-align: center;
    }

}

/* ==== MOBILE ==== */
@media (max-width: 400px) { 
       /* Header */
    header {
        justify-content: space-between;
       }
       header ul li a {
        margin-left: 0px;
        width: 40px;
        font-size: 10px;
    }
    /* --- Galeria fotos --- */
.imagenChica {
    width: 150px;
}
.imagenGrande {
    width: 150px;
}
.galeria {
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "topLeft topRight"
    "topSecondLeft topSecondRight"
     "midLeft midRight"
     "bottomLeft bottomRight"
     "bottomAlone bottomAlone";
    margin: 10px;
}
.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9 {
    place-self: center;
}
.img1 {
    grid-area: topLeft;
}
.img2 {
    grid-area: topRight;
}
.img3 {
    grid-area: topSecondRight;
}
.img4 {
    grid-area:  topSecondLeft;
}
.img5 {
    grid-area: midLeft;
}
.img6 {
    grid-area: midRight;
}
.img7 {
    grid-area: bottomRight;
}
.img8 {
    grid-area:  bottomLeft;
}
.img9 {
    margin-top: 20px;
    grid-area: bottomAlone;
}
}